.App {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
}

.subtext {
    font-weight: 400;
    font-size: 15px;
    color: hsla(236, 100%, 87%, 1);
}

.text {
    font-weight: 300;
    font-size: 24px;
}

.container {
    background-color: hsla(246, 80%, 60%, 1);
    display: flex;
    column-gap: 20px;
    padding: 35px 32px;
    border-radius: 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sorting-container {
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0;
}

.sorting-btn {
    border: 0;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
    color: hsla(235, 45%, 61%, 1);
    transition: all .3s ease-in-out;

    &:hover {
        color: #fff;
    }

}


.tracking-details {
    background-color: hsla(236, 45%, 20%, 1);
    padding: 28px 24px;
    border-radius: 15px;
}

.top-section, .bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;

    h2 {
        font-weight: 300;
        font-weight: 32px;
    }

    h3 {
        font-weight: 500;
        font-weight: 18px;
    }

    p {
        color: hsla(236, 100%, 87%, 1);
        font-weight: 15px;
    }
}